* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #555;
}

.mine-board {
    display: inline-grid;
    border: 8px solid #ccc;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    user-select: none;
}

.mine-tile {
    aspect-ratio: 1 / 1;
    appearance: none;
    font-weight: bold;
    border-radius: 0;
    border: 3px outset #eee;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #eee, #ccc);
    overflow: hidden;
    width: 25px;
    cursor: pointer;
}

.mine-tile:active:not([value="🚩"]) {
    border: 3px inset #eee;
}

.mine-tile[value]:not([value="🚩"]) {
    background-image: none;
    font-size: 14px;
    background-color: #ccc;
    border: none;
    box-shadow: 0 0 0 1px darkgray;
    cursor: default;
}


.mine-tile[value="🚩"] {
    font-size: 10px;
}

.mine-tile[value="💥"] {
    background-color: red !important;
}

.mine-tile[value="🚩❌"] {
    letter-spacing: -20px;
    padding-right: 16px;
}


.mine-tile[value="0"] { color: transparent; }
.mine-tile[value="1"] { color: blue; }
.mine-tile[value="2"] { color: green; }
.mine-tile[value="3"] { color: red; }
.mine-tile[value="4"] { color: purple; }
.mine-tile[value="5"] { color: maroon; }
.mine-tile[value="6"] { color: teal; }
.mine-tile[value="7"] { color: black; }
.mine-tile[value="8"] { color: gray; }

.mine-ui-container div {
    background-color: black;
    border: 2px inset;
    color: red;
    font-family: 'Pixel LCD-7';
    padding: 1px;
    font-size: 24px;

    text-shadow: 0 0 5px red;
    user-select: none;
}

.mine-ui-container button {
    height: 30px;
    padding: 0 5px;
}

.mine-ui-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mine-ui-container input {
    width: 50px;
    height: 30px;
}